@font-face {
  font-family: 'Cafe24Anemone';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.0.0/fonts/cafe24-anemone/Cafe24Ohsquare-v2.0.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.0.0/fonts/cafe24-anemone/Cafe24Ohsquare-v2.0.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.cafe24-anemone-font {
  font-family: 'Cafe24Anemone', sans-serif !important;
}

@font-face {
  font-family: 'ElegantSerif';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.1.0/fonts/elegant-serif/GraceSerif-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ElegantSerif';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.1.0/fonts/elegant-serif/GraceSerif-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.elegant-serif-font {
  font-family: 'ElegantSerif', serif !important;
}

@font-face {
  font-family: 'NostalgicPoliceVibe';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.2.0/fonts/nostalgic-police-vibe/Griun_PolSensibility-Rg.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.nostalgic-police-vibe-font {
  font-family: 'NostalgicPoliceVibe', sans-serif !important;
}

@font-face {
  font-family: 'KerisKedyuche';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.3.0/fonts/keris-kedyuche/KERISKEDU_R.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KerisKedyuche';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.3.0/fonts/keris-kedyuche/KERISKEDU_B.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KerisKedyucheLine';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.3.0/fonts/keris-kedyuche/KERISKEDU_Line.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.keris-kedyuche-font {
  font-family: 'KerisKedyuche', sans-serif !important;
}

.keris-kedyuche-line-font {
  font-family: 'KerisKedyucheLine', sans-serif !important;
}

@font-face {
  font-family: 'SchoolSafetyRoundedSmile';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.4.0/fonts/school-safety-rounded-smile/HakgyoansimDunggeunmiso-R.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SchoolSafetyRoundedSmile';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.4.0/fonts/school-safety-rounded-smile/HakgyoansimDunggeunmiso-B.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.school-safety-rounded-smile-font {
  font-family: 'SchoolSafetyRoundedSmile', sans-serif !important;
}

@font-face {
  font-family: 'Galmuri9';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.5.0/fonts/galmuri9/Galmuri9.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.galmuri9-font {
  font-family: 'Galmuri9', sans-serif !important;
}

@font-face {
  font-family: 'NexonMaplestory';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.6.0/fonts/nexon-maplestory/Maplestory%20Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NexonMaplestory';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.6.0/fonts/nexon-maplestory/Maplestory%20Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.nexon-maplestory-font {
  font-family: 'NexonMaplestory', sans-serif !important;
}

@font-face {
  font-family: 'RoundedFixedsys';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.7.0/fonts/rounded-fixedsys/DungGeunMo.eot');
  src:
    url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.7.0/fonts/rounded-fixedsys/DungGeunMo.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.7.0/fonts/rounded-fixedsys/DungGeunMo.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.7.0/fonts/rounded-fixedsys/DungGeunMo.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.rounded-fixedsys-font {
  font-family: 'RoundedFixedsys', monospace !important;
}

@font-face {
  font-family: 'Isamanru';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.8.0/fonts/isamanru/esamanru%20Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Isamanru';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.8.0/fonts/isamanru/esamanru%20Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Isamanru';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.8.0/fonts/isamanru/esamanru%20Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.isamanru-font {
  font-family: 'Isamanru', sans-serif !important;
}

@font-face {
  font-family: 'NostalgicGukhanbakOchungiWriterKim';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.9.0/fonts/griun-ochungi-kim/GriunXHangeul_OCHUNGI.KIM-Rg.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.griun-ochungi-kim-font {
  font-family: 'NostalgicGukhanbakOchungiWriterKim', sans-serif !important;
}

@font-face {
  font-family: 'A2z';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.10.0/fonts/a2z/에이투지체-1Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'A2z';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.10.0/fonts/a2z/에이투지체-2ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'A2z';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.10.0/fonts/a2z/에이투지체-3Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'A2z';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.10.0/fonts/a2z/에이투지체-4Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'A2z';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.10.0/fonts/a2z/에이투지체-5Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'A2z';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.10.0/fonts/a2z/에이투지체-6SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'A2z';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.10.0/fonts/a2z/에이투지체-7Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'A2z';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.10.0/fonts/a2z/에이투지체-8ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'A2z';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.10.0/fonts/a2z/에이투지체-9Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

.a2z-font {
  font-family: 'A2z', sans-serif !important;
}
