@font-face {
  font-family: 'Cafe24Anemone';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.0.0/fonts/cafe24-anemone/Cafe24Ohsquare-v2.0.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.0.0/fonts/cafe24-anemone/Cafe24Ohsquare-v2.0.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.cafe24-anemone-font {
  font-family: 'Cafe24Anemone', sans-serif !important;
}

@font-face {
  font-family: 'ElegantSerif';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.1.0/fonts/elegant-serif/GraceSerif-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ElegantSerif';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.1.0/fonts/elegant-serif/GraceSerif-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.elegant-serif-font {
  font-family: 'ElegantSerif', serif !important;
}

@font-face {
  font-family: 'NostalgicPoliceVibe';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.2.0/fonts/nostalgic-police-vibe/Griun_PolSensibility-Rg.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.nostalgic-police-vibe-font {
  font-family: 'NostalgicPoliceVibe', sans-serif !important;
}

@font-face {
  font-family: 'KerisKedyuche';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.3.0/fonts/keris-kedyuche/KERISKEDU_R.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KerisKedyuche';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.3.0/fonts/keris-kedyuche/KERISKEDU_B.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KerisKedyucheLine';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.3.0/fonts/keris-kedyuche/KERISKEDU_Line.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.keris-kedyuche-font {
  font-family: 'KerisKedyuche', sans-serif !important;
}

.keris-kedyuche-line-font {
  font-family: 'KerisKedyucheLine', sans-serif !important;
}

@font-face {
  font-family: 'SchoolSafetyRoundedSmile';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.4.0/fonts/school-safety-rounded-smile/HakgyoansimDunggeunmiso-R.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SchoolSafetyRoundedSmile';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.4.0/fonts/school-safety-rounded-smile/HakgyoansimDunggeunmiso-B.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.school-safety-rounded-smile-font {
  font-family: 'SchoolSafetyRoundedSmile', sans-serif !important;
}

@font-face {
  font-family: 'Galmuri9';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.5.0/fonts/galmuri9/Galmuri9.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.galmuri9-font {
  font-family: 'Galmuri9', sans-serif !important;
}

@font-face {
  font-family: 'NexonMaplestory';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.6.0/fonts/nexon-maplestory/Maplestory%20Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NexonMaplestory';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.6.0/fonts/nexon-maplestory/Maplestory%20Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.nexon-maplestory-font {
  font-family: 'NexonMaplestory', sans-serif !important;
}

@font-face {
  font-family: 'RoundedFixedsys';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.7.0/fonts/rounded-fixedsys/DungGeunMo.eot');
  src:
    url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.7.0/fonts/rounded-fixedsys/DungGeunMo.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.7.0/fonts/rounded-fixedsys/DungGeunMo.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.7.0/fonts/rounded-fixedsys/DungGeunMo.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.rounded-fixedsys-font {
  font-family: 'RoundedFixedsys', monospace !important;
}

@font-face {
  font-family: 'Isamanru';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.8.0/fonts/isamanru/esamanru%20Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Isamanru';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.8.0/fonts/isamanru/esamanru%20Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Isamanru';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.8.0/fonts/isamanru/esamanru%20Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.isamanru-font {
  font-family: 'Isamanru', sans-serif !important;
}

@font-face {
  font-family: 'NostalgicGukhanbakOchungiWriterKim';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.9.0/fonts/griun-ochungi-kim/GriunXHangeul_OCHUNGI.KIM-Rg.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.griun-ochungi-kim-font {
  font-family: 'NostalgicGukhanbakOchungiWriterKim', sans-serif !important;
}

@font-face {
  font-family: 'A2z';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.10.1/fonts/a2z/A2Z-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'A2z';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.10.1/fonts/a2z/A2Z-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'A2z';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.10.1/fonts/a2z/A2Z-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'A2z';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.10.1/fonts/a2z/A2Z-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'A2z';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.10.1/fonts/a2z/A2Z-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'A2z';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.10.1/fonts/a2z/A2Z-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'A2z';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.10.1/fonts/a2z/A2Z-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'A2z';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.10.1/fonts/a2z/A2Z-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'A2z';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.10.1/fonts/a2z/A2Z-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

.a2z-font {
  font-family: 'A2z', sans-serif !important;
}

@font-face {
  font-family: 'KkuBulLim';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.11.0/fonts/kkubulim/BMKkubulimTTF.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.kkubulim-font {
  font-family: 'KkuBulLim', sans-serif !important;
}

@font-face {
  font-family: 'IsYun';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.12.0/fonts/lee-seoyun/LeeSeoyun-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.iseoyun-font {
  font-family: 'IsYun', sans-serif !important;
}

@font-face {
  font-family: 'Cafe24Surround';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.13.0/fonts/cafe24-surround/Cafe24Ssurround-v2.0.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.13.0/fonts/cafe24-surround/Cafe24Ssurround-v2.0.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.cafe24-surround-font {
  font-family: 'Cafe24Surround', sans-serif !important;
}

@font-face {
  font-family: 'Aggravo';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.14.0/fonts/sb-aggro/SB-Aggro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aggravo';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.14.0/fonts/sb-aggro/SB-Aggro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aggravo';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.14.0/fonts/sb-aggro/SB-Aggro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.aggro-font {
  font-family: 'Aggravo', sans-serif !important;
}

@font-face {
  font-family: 'JoseonGulim';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.16.0/fonts/chosun-gulim/ChosunGu.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.16.0/fonts/chosun-gulim/ChosunGu.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.16.0/fonts/chosun-gulim/ChosunGu.TTF') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.joseon-gulim-font {
  font-family: 'JoseonGulim', sans-serif !important;
}

@font-face {
  font-family: 'Paperozi';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.17.0/fonts/paperlogy/Paperlogy-1Thin.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.17.0/fonts/paperlogy/Paperlogy-1Thin.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.17.0/fonts/paperlogy/Paperlogy-1Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Paperozi';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.17.0/fonts/paperlogy/Paperlogy-2ExtraLight.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.17.0/fonts/paperlogy/Paperlogy-2ExtraLight.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.17.0/fonts/paperlogy/Paperlogy-2ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Paperozi';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.17.0/fonts/paperlogy/Paperlogy-3Light.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.17.0/fonts/paperlogy/Paperlogy-3Light.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.17.0/fonts/paperlogy/Paperlogy-3Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Paperozi';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.17.0/fonts/paperlogy/Paperlogy-4Regular.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.17.0/fonts/paperlogy/Paperlogy-4Regular.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.17.0/fonts/paperlogy/Paperlogy-4Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Paperozi';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.17.0/fonts/paperlogy/Paperlogy-5Medium.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.17.0/fonts/paperlogy/Paperlogy-5Medium.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.17.0/fonts/paperlogy/Paperlogy-5Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Paperozi';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.17.0/fonts/paperlogy/Paperlogy-6SemiBold.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.17.0/fonts/paperlogy/Paperlogy-6SemiBold.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.17.0/fonts/paperlogy/Paperlogy-6SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Paperozi';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.17.0/fonts/paperlogy/Paperlogy-7Bold.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.17.0/fonts/paperlogy/Paperlogy-7Bold.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.17.0/fonts/paperlogy/Paperlogy-7Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Paperozi';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.17.0/fonts/paperlogy/Paperlogy-8ExtraBold.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.17.0/fonts/paperlogy/Paperlogy-8ExtraBold.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.17.0/fonts/paperlogy/Paperlogy-8ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Paperozi';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.17.0/fonts/paperlogy/Paperlogy-9Black.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.17.0/fonts/paperlogy/Paperlogy-9Black.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.17.0/fonts/paperlogy/Paperlogy-9Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

.paperlogy-font {
  font-family: 'Paperozi', sans-serif !important;
}

@font-face {
  font-family: 'PyeongChangPeace';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.18.0/fonts/pyeongchang-peace/PyeongChangPeace-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PyeongChangPeace';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.18.0/fonts/pyeongchang-peace/PyeongChangPeace-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.pyeongchang-peace-font {
  font-family: 'PyeongChangPeace', sans-serif !important;
}

@font-face {
  font-family: 'Cafe24MoyamoyaFace';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.19.0/fonts/cafe24-moyamoya-face/Cafe24Moyamoya-Face-v1.0.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.19.0/fonts/cafe24-moyamoya-face/Cafe24Moyamoya-Face-v1.0.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.cafe24-moyamoya-face-font {
  font-family: 'Cafe24MoyamoyaFace', sans-serif !important;
}

@font-face {
  font-family: 'Cafe24Moyamoya';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.20.0/fonts/cafe24-moyamoya/Cafe24Moyamoya-Regular-v1.0.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.20.0/fonts/cafe24-moyamoya/Cafe24Moyamoya-Regular-v1.0.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.cafe24-moyamoya-font {
  font-family: 'Cafe24Moyamoya', sans-serif !important;
}

@font-face {
  font-family: 'Cafe24PROUP';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.21.0/fonts/cafe24-proup/Cafe24PROUP.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.21.0/fonts/cafe24-proup/Cafe24PROUP.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.cafe24-proup-font {
  font-family: 'Cafe24PROUP', sans-serif !important;
}

@font-face {
  font-family: 'Cafe24PROSlim';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.22.0/fonts/cafe24-pro-slim/Cafe24PROSlimAir.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.22.0/fonts/cafe24-pro-slim/Cafe24PROSlimAir.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cafe24PROSlim';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.22.0/fonts/cafe24-pro-slim/Cafe24PROSlimFit.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.22.0/fonts/cafe24-pro-slim/Cafe24PROSlimFit.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cafe24PROSlim';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.22.0/fonts/cafe24-pro-slim/Cafe24PROSlimMax.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.22.0/fonts/cafe24-pro-slim/Cafe24PROSlimMax.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.cafe24-pro-slim-font {
  font-family: 'Cafe24PROSlim', sans-serif !important;
}

@font-face {
  font-family: 'Cafe24Supermagic';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.23.0/fonts/cafe24-supermagic/Cafe24Supermagic-Regular-v1.0.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.23.0/fonts/cafe24-supermagic/Cafe24Supermagic-Regular-v1.0.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cafe24Supermagic';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.23.0/fonts/cafe24-supermagic/Cafe24Supermagic-Bold-v1.0.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.23.0/fonts/cafe24-supermagic/Cafe24Supermagic-Bold-v1.0.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.cafe24-supermagic-font {
  font-family: 'Cafe24Supermagic', sans-serif !important;
}

@font-face {
  font-family: 'Cafe24Classictype';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.24.0/fonts/cafe24-classictype/Cafe24Classictype-v1.1.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.24.0/fonts/cafe24-classictype/Cafe24Classictype-v1.1.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.cafe24-classictype-font {
  font-family: 'Cafe24Classictype', serif !important;
}

@font-face {
  font-family: 'Cafe24Shiningstar';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.25.0/fonts/cafe24-shiningstar/Cafe24Shiningstar-v2.0.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.25.0/fonts/cafe24-shiningstar/Cafe24Shiningstar-v2.0.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.cafe24-shiningstar-font {
  font-family: 'Cafe24Shiningstar', sans-serif !important;
}
