@font-face {
  font-family: 'Cafe24Anemone';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.0.0/fonts/cafe24-anemone/Cafe24Ohsquare-v2.0.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.0.0/fonts/cafe24-anemone/Cafe24Ohsquare-v2.0.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.cafe24-anemone-font {
  font-family: 'Cafe24Anemone', sans-serif !important;
}

@font-face {
  font-family: 'ElegantSerif';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.1.0/fonts/elegant-serif/GraceSerif-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ElegantSerif';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.1.0/fonts/elegant-serif/GraceSerif-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.elegant-serif-font {
  font-family: 'ElegantSerif', serif !important;
}

@font-face {
  font-family: 'NostalgicPoliceVibe';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.2.0/fonts/nostalgic-police-vibe/Griun_PolSensibility-Rg.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.nostalgic-police-vibe-font {
  font-family: 'NostalgicPoliceVibe', sans-serif !important;
}

@font-face {
  font-family: 'KerisKedyuche';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.3.0/fonts/keris-kedyuche/KERISKEDU_R.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KerisKedyuche';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.3.0/fonts/keris-kedyuche/KERISKEDU_B.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KerisKedyucheLine';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.3.0/fonts/keris-kedyuche/KERISKEDU_Line.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.keris-kedyuche-font {
  font-family: 'KerisKedyuche', sans-serif !important;
}

.keris-kedyuche-line-font {
  font-family: 'KerisKedyucheLine', sans-serif !important;
}

@font-face {
  font-family: 'SchoolSafetyRoundedSmile';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.4.0/fonts/school-safety-rounded-smile/HakgyoansimDunggeunmiso-R.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SchoolSafetyRoundedSmile';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.4.0/fonts/school-safety-rounded-smile/HakgyoansimDunggeunmiso-B.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.school-safety-rounded-smile-font {
  font-family: 'SchoolSafetyRoundedSmile', sans-serif !important;
}

@font-face {
  font-family: 'Galmuri9';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.5.0/fonts/galmuri9/Galmuri9.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.galmuri9-font {
  font-family: 'Galmuri9', sans-serif !important;
}

@font-face {
  font-family: 'NexonMaplestory';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.6.0/fonts/nexon-maplestory/Maplestory%20Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NexonMaplestory';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.6.0/fonts/nexon-maplestory/Maplestory%20Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.nexon-maplestory-font {
  font-family: 'NexonMaplestory', sans-serif !important;
}
