@font-face {
  font-family: 'ElegantSerif';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.1.0/fonts/elegant-serif/GraceSerif-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ElegantSerif';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.1.0/fonts/elegant-serif/GraceSerif-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.elegant-serif-font {
  font-family: 'ElegantSerif', serif !important;
}
