@font-face {
  font-family: 'TheJamsil';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.39.0/fonts/the-jamsil/TheJamsil-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TheJamsil';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.39.0/fonts/the-jamsil/TheJamsil-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TheJamsil';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.39.0/fonts/the-jamsil/TheJamsil-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TheJamsil';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.39.0/fonts/the-jamsil/TheJamsil-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TheJamsil';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.39.0/fonts/the-jamsil/TheJamsil-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TheJamsil';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.39.0/fonts/the-jamsil/TheJamsil-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

.the-jamsil-font {
  font-family: 'TheJamsil', sans-serif !important;
}
