@font-face {
  font-family: 'Cafe24Classictype';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.24.0/fonts/cafe24-classictype/Cafe24Classictype-v1.1.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.24.0/fonts/cafe24-classictype/Cafe24Classictype-v1.1.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.cafe24-classictype-font {
  font-family: 'Cafe24Classictype', serif !important;
}
