@font-face {
  font-family: 'Cafe24MoyamoyaFace';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.19.0/fonts/cafe24-moyamoya-face/Cafe24Moyamoya-Face-v1.0.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.19.0/fonts/cafe24-moyamoya-face/Cafe24Moyamoya-Face-v1.0.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.cafe24-moyamoya-face-font {
  font-family: 'Cafe24MoyamoyaFace', sans-serif !important;
}
