@font-face {
  font-family: 'Cafe24Dangdanghae';
  src: url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.27.0/fonts/cafe24-dangdanghae/Cafe24Dangdanghae-v2.0.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/yellopencil/yellopencil-webfonts@v1.27.0/fonts/cafe24-dangdanghae/Cafe24Dangdanghae-v2.0.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.cafe24-dangdanghae-font {
  font-family: 'Cafe24Dangdanghae', sans-serif !important;
}
